<div class="password-recovery">
  <div class="password-recovery-container">
    <span class="material-icons close">
      close
    </span>
    <div class="password-recovery-name">
      Password recovery
    </div>

    <div class="password-recovery-instruction">
     To restore access, specify
        nickname, email or phone number tied
        to your profile
    </div>

      <div class="password-recovery-main-container">
        <div class="input-container">
          <input type="email" placeholder="E-mail, nickname or phone"/>
          <div class="password-recovery-main-input">
            <img src="../../../../assets/data/images/icons/man-user.svg" alt="">
          </div>
        </div>

        <div class="password-recovery-prompt-phone">
          For example, phone: +972 XX XXX-XX-XX
        </div>

        <button>Next</button>
      </div>

    </div>
  </div>

