@import "../../../styles/config";

.password-recovery {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(150deg, rgba(195,216,228,.6) 0%, rgba(74,161,197,0.6) 22%, rgba(25,31,96,.6) 66%),url("../../../../assets/data/images/auth-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.password-recovery-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgba(84,110,143,.6);
  width: 100%;
  max-width: 570px;
  padding: 80px 35px;
}

.password-recovery-name {
  @include bold-text;
  font-size: 36px;
  text-align: center;
  color: white;
  margin: 0;
  padding-bottom: 30px;
}

.password-recovery-instruction {
  @include regular-text;
  font-size: 18px;
  text-align: center;
  color: white;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid $seventh-color;
  border-bottom: 1px solid $seventh-color;
}

.password-recovery-main-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  input {
    @include regular-text;
    width: 80%;
    border: none;
    background-color: $seventh-color;
    color: #ffffff;
  }
  input::-moz-placeholder {
    @include regular-text;
    color: #ffffff;
  }
  input::-webkit-input-placeholder {
    @include regular-text;
    color: #ffffff;
  }
  button {
    @include basic-btn;
    font-size: 18px;
    height: 60px;
  }
}
.input-container {
  display: flex;
  align-items: center;
  position:relative;
  padding:0 0 0 33px;
  border-radius: 50px;
  height: 60px;
  border: none;
  background-color: $seventh-color;
  @include regular-text;
  color: #ffffff;
}
.password-recovery-main-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  width: 100%;
  max-width: 13%;
  height: 40px;
  border-left: 1px solid #1F5587;
  img {
    width: 20px;
    height: 20px;
  }
}

.password-recovery-prompt-phone{
  @include regular-text;
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 16px;
  color: white;
}
