<footer>
  <div class="footer-content">
    <div class="footer-top">
      <div class="elements-container">
        <a><img src="../../../assets/data/images/logo.svg" alt="logo"></a>
        <nav class="navigation-container">
          <ul>
            <li (click)="onClick(1)" [ngClass]="{'active': tab === 'tab1'}">
              <a [routerLink]="['/']">Services</a>
            </li>
            <li (click)="onClick(2)" [ngClass]="{'active': tab === 'tab2'}">
              <a>Flea market</a>
            </li>
            <li (click)="onClick(3)" [ngClass]="{'active': tab === 'tab3'}">
              <a>Auction</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="social-media-container">
        <a class="footer-icon-container">
          <img class=footer-icon src="../../../assets/data/images/icons/facebook.svg" alt="facebook">
        </a>
        <a class="footer-icon-container">
          <img class=footer-icon src="../../../assets/data/images/icons/instagram.svg" alt="instagram">
        </a>
        <a class="footer-icon-container">
          <img class=footer-icon src="../../../assets/data/images/icons/telegram.svg" alt="telegram">
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="company-information">© 2020 nopanic.co.il</div>
      <div class="additional-information">
        <a>Privacy policy</a>
        <a>User support</a>
      </div>
    </div>
  </div>
</footer>
