<footer>
  <div class="footer-content">
    <div class="footer-top">
      <div class="elements-container">
        <div class="logo-container"></div>
        <nav class="navigation-container">
          <ul>
            <li routerLinkActive="active">
              <a [routerLink]="['/']">Services</a>
            </li>
            <li routerLinkActive="active">
              <a>Marketplace</a>
            </li>
            <li routerLinkActive="active">
              <a>Auction</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="social-media-container">
        <a class="footer-icon-container">
          <img class=footer-icon src="../../../assets/data/images/icons/facebook.svg" alt="facebook">
        </a>
        <a class="footer-icon-container">
          <img class=footer-icon src="../../../assets/data/images/icons/instagram.svg" alt="instagram">
        </a>
        <a class="footer-icon-container">
          <img class=footer-icon src="../../../assets/data/images/icons/telegram.svg" alt="telegram">
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <div>© 2020 nopanic.co.il</div>
      <div class="additional-information">
        <a>Privacy policy</a>
        <a>User support</a>
      </div>
    </div>
  </div>
</footer>
