<footer>
  <div class="footer-content">
    <div class="footer-top">
      <div class="logo-menu">
        <div class="logo-container">ЛОГО</div>
        <nav class="menu-container">
          <ul>
            <li>Услуги</li>
            <li>Барахолка</li>
            <li>Аукцион</li>
          </ul>
        </nav>
      </div>
      <div class="social-media-container">
        <a href="">fac</a>
        <a href="">inst</a>
        <a href="">twi</a>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="copyright-container">
        <div>© 2001—2020 Название.</div>
      </div>
      <div class="politic-container">
        <a href="">Политика конфиденциальности</a>
        <a href="">Поддержка пользователей</a>
      </div>
    </div>
  </div>
</footer>
