@import "src/app/styles/config";

.header {
  height: 60px;
}

.header-content {
  margin: 0 auto;
  @include base-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0 10px;
}

.navigation {
  @include regular-text;
  font-size: 16px;
  display: flex;
  li {
    user-select: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
    &:nth-child(even) {
      margin: 0 56px;
    }
    &.active {
      background: $fourth-color;
      border-radius: 29.5px;
    }
    a {
      &:hover {
        transition: .3s;
        color: $sixth-color;
      }
    }
  }
}

.auth {
  @include semi-bold-text;
  font-size: 16px;
  color: $sixth-color;
  span {
    cursor: pointer;
    outline: none;
    text-decoration: underline;
  }
}
