<header class="header">
  <div class="header-content">
    <a><img src="../../../assets/data/images/logo.svg" alt=""></a>
    <header-search></header-search>
    <nav>
      <ul class="navigation">
        <li class="nav-element" routerLinkActive="active">
          <a [routerLink]="['/']">Services</a>
        </li>
        <li class="nav-element" routerLinkActive="active">
          <a>Marketplace</a>
        </li>
        <li class="nav-element" routerLinkActive="active">
          <a>Auction</a>
        </li>
      </ul>
    </nav>
    <header-profile></header-profile>
  </div>
</header>
