<header class="header">
  <div class="header-content">
    <a [routerLink]="['/services']"><img src="../../../assets/data/images/logo.svg" alt="logo"></a>
    <header-search></header-search>
    <nav>
      <ul class="navigation">
        <li id="services-btn" (mouseover)="menuOpen()" (mouseout)="menuClose()" (click)="onClick(2)"
            [ngClass]="{'active': tab === 'tab3'}" [routerLinkActive]="'active'">
          <a [routerLink]="['/services']" >Services</a>
          <services-menu (click)="closeMenu()"></services-menu>
        </li>
        <li  (click)="onClick(2)" [ngClass]="{'active': tab === 'tab3'}">
          <a [routerLink]="['/']">Marketplace</a>
        </li>
        <li (click)="onClick(3)" [ngClass]="{'active': tab === 'tab3'}">
          <a [routerLink]="['/']">Auction</a>
        </li>
      </ul>
    </nav>
    <header-profile></header-profile>

    <burger-menu></burger-menu>
  </div>
</header>
