<header class="header">
  <div class="header-content">
    <a><img src="../../../assets/data/images/logo.svg" alt="logo"></a>
    <header-search></header-search>
    <nav>
      <ul class="navigation">
        <li routerLinkActive="active">
          <a [routerLink]="['/']">Services</a>
        </li>
        <li routerLinkActive="active">
          <a>Marketplace</a>
        </li>
        <li routerLinkActive="active">
          <a>Auction</a>
        </li>
      </ul>
    </nav>
<!--    <header-profile></header-profile>-->
    <div class="auth">
      <span [routerLink]="['/login']">Login</span>
      or
      <span [routerLink]="['/registration']">Register</span>
    </div>
  </div>
</header>
