@import "src/app/styles/config";

.service-container {
  width: 100%;
}

.service-content {
  @include base-flex;
  justify-content: space-between;
  margin: 30px auto 130px auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 10px;
}

.content {
  width: 77%;
  height: 880px;
  padding: 0 10px;//this
}

.filters-container {
  width: 20%;
}

.orders-container {
  width: 100%;
}
