<div class="common-order-content">
  <div class="order-response-content">
    <div class="response">
      <img src="../../../../assets/data/images/customer-photo.png" alt="order image" class="response-image">
      <p class="performer">IE Radionov Alexander Vladimirovich</p>
      <div class="rating">
        <div class="star">&#x2605; &#x2605; &#x2605; &#x2605;</div>
        <div class="review">8 reviews, completed 16 orders</div>
      </div>
      <p class="work-description">
        Contrary to popular belief, Lorem Ipsum is not simply random text.
        It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
        Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia
      </p>
      <div class="accept-order">
        <p class="date">4 july 17:58</p>
        <div class="price">
          <button>Choose as worker</button>
          <p>50$</p>
        </div>
      </div>
    </div>
  </div>
</div>
