<div class="place-order-banner">
  <h1>Create order</h1>
  <h2>
    Describe your order in as much detail as possible.
    It'll help avoid problems and get prompt responses. We'll also create a profile for you in our service.
  </h2>
</div>
<div class="form">
  <form [formGroup]="orderForm" (ngSubmit)="submit()">
    <div class="section-caption">

      <div class="section">

        <p>Section</p>

        <p-dropdown
          class="base-autocomplete"
          [options]="sectionsList"
          formControlName="Section"
          placeholder="Select a section"
          [group]="true"
          [(ngModel)]="selectedSection"
          [filter]="true">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="selectedSection">
<!--              <img [src]="icon" style="width: 22px;margin-right: 7px;"/>-->
              <div>{{selectedSection}}</div>
            </div>
          </ng-template>
          <ng-template let-group pTemplate="group">
            <div class="p-d-flex p-ai-center">
              <img [src]="group.icon" style="width: 22px;margin-right: 7px;"/>
              <span>{{group.label}}</span>
            </div>
          </ng-template>
        </p-dropdown>
        <span class="error-message" *ngIf="section.invalid && (section.touched || isSubmit)">
          Choose a section
        </span>
      </div>

      <div class="section">
        <p>Heading</p>
        <input
          [style.borderColor]="heading.invalid && (heading.touched || isSubmit) ? 'red' : null"
          formControlName="Heading"
          type="text"
          placeholder="Heading"
        >
        <span class="error-message" *ngIf="heading.invalid && (heading.touched || isSubmit)">
          {{ getErrorMessage('Heading') }}
        </span>
      </div>
    </div>

    <div class="section-description">
      <p>Description</p>
      <label>
        <textarea
          [style.borderColor]="description.invalid && (description.touched || isSubmit) ? 'red' : null"
          formControlName="Description"
          placeholder="Description"
          rows="12">
        </textarea>
      </label>
      <span class="error-message-textarea" *ngIf="description.invalid && (description.touched || isSubmit)">
        {{ getErrorMessage('Description') }}
      </span>
    </div>
    <div class="short-description">
      <p>Short description</p>
      <label>
        <textarea
          [style.borderColor]="shortDescription.invalid && (shortDescription.touched || isSubmit) ? 'red' : null"
          formControlName="ShortDescription"
          placeholder="Short Description"
          rows="3">
        </textarea>
      </label>
      <span class="error-message-textarea" *ngIf="shortDescription.invalid && (shortDescription.touched || isSubmit)">
        {{ getErrorMessage('ShortDescription') }}
      </span>

    </div>

    <div>
      <div class="files">Photos and files to order</div>
      <p class="photo-format">Complete your order with photographs or clarifying documents. They will help the
        performers to better assess the task and saving you from unnecessary questions.
        Valid formats: jpeg, png, pdf, doc, docx, xls, xlsx, rtf. Maximum number: 5, size: 50 MB.</p>
    </div>

    <div class="order-photo">
      <div class="photo"></div>
      <div class="add-photo">+</div>
    </div>

    <div class="section-address">
      <div class="address">
        <p>City</p>
        <p-dropdown
          class="base-autocomplete"
          [options]="citiesList"
          formControlName="City"
          placeholder="Select city"
          [group]="true"
          [(ngModel)]="selectedCity"
          [filter]="true"
          [virtualScroll]="true"
          [itemSize]="30">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="selectedCity">
              <div>{{selectedCity}}</div>
            </div>
          </ng-template>
          <ng-template let-group pTemplate="group">
            <div class="p-d-flex p-ai-center">
              <span>{{group.label}}</span>
            </div>
          </ng-template>
        </p-dropdown>
        <span class="error-message" *ngIf="city.invalid && (city.touched || isSubmit)">
          Select city
        </span>
      </div>
      <div class="address">
        <p>Address (not necessary)</p>
        <input type="text" placeholder="Your address" formControlName="Address">
      </div>
    </div>
    <div class="date-complete">
      <div class="date">
        <p>Order execution date</p>
        <p-calendar
          class="base-calendar"
          [placeholder]="'Deadline when an order must be completed'"
          [minDate]="this.minDate"
          >
        </p-calendar>
        <span class="error-message" *ngIf="executionDate.invalid && (executionDate.touched || isSubmit)">
          Select date
        </span>
      </div>
      <div class="price-checkbox">
        <div class="price">
          <p>Price</p>
          <input
            [style.borderColor]="price.invalid && (price.touched || isSubmit) ? 'red' : null"
            formControlName="Price"
            type="text"
            placeholder="Price">
          <span class="error-message" *ngIf="price.invalid && (price.touched || isSubmit)">
            {{ getErrorMessage('Price') }}
          </span>
        </div>
        <div class="checkbox">
          <p-checkbox class="base-checkbox"></p-checkbox>
          <p>Agreed</p>
        </div>
      </div>
    </div>
    <div class="section-name">
      <div class="name">
        <p>Name</p>
        <input
          [style.borderColor]="name.invalid && (name.touched || isSubmit) ? 'red' : null"
          formControlName="Name"
          type="text"
          placeholder="Your name">
        <span class="error-message" *ngIf="name.invalid && (name.touched || isSubmit)">
          {{ getErrorMessage('Name') }}
        </span>
      </div>
      <div class="phone-checkbox">
        <div class="phone">
          <p>Phone</p>
          <input type="text" placeholder="+972 XX XXX-XX-XX">
        </div>
        <div class="visible">Visible only to the selected contractor</div>
      </div>
    </div>

    <div class="verification">
      <div class="check">Before you complete, please check</div>
      <p class="send-code">This action needs to be done only once, it will take only a few moments and will be
        absolutely free.
        Enter your phone number in international format and click "Send code". The number you specify will be sent
        special code required for validation.</p>
    </div>
    <div class="place-order">
      <div class="phone-valid">
        <p>Phone for validation</p>
        <input type="text" placeholder="Your name">
      </div>
      <button class="button-send" type="button">Send code</button>
      <button class="button-order" type="submit">Place an order</button>
    </div>
  </form>
</div>
