<div class="place-order-banner">
  <h1>Create order</h1>
  <h2>
    Describe your order in as much detail as possible.
    It'll help avoid problems and get prompt responses. We'll also create a profile for you in our service.
  </h2>
</div>
<div class="form">
  <form [formGroup]="orderForm" (ngSubmit)="submit()">
    <div class="section-caption">

      <div class="section">
        <ng-select [items]="sectionsList"
                   formControlName="Section"
                   bindLabel="subtitle"
                   groupBy="data"
                   placeholder="Select a section"
                   notFoundText="Section not found"
                   clearAllText="Clear">
          <ng-template ng-optgroup-tmp let-item="item">
            {{item['title']}}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{item['subtitle']}}
          </ng-template>
        </ng-select>
      </div>

      <div class="section">
        <p>Heading</p>
        <input type="text" placeholder="Heading" formControlName="Heading">
        <span class="error-message" *ngIf="checkControlsValidity('Heading')">
          {{ getErrorMessage('Heading') }}
        </span>
      </div>
    </div>
    <div class="section-description">
      <p>Description</p>
      <textarea type="text" placeholder="Description" rows="12"></textarea>
    </div>
    <div class="short-description">
      <p>Short description</p>
      <textarea type="text" placeholder="Short Description" rows="3"></textarea>
    </div>

    <div>
      <div class="files">Photos and files to order</div>
      <p class="photo-format">Complete your order with photographs or clarifying documents. They will help the
        performers to better assess the task and saving you from unnecessary questions.
        Valid formats: jpeg, png, pdf, doc, docx, xls, xlsx, rtf. Maximum number: 5, size: 50 MB.</p>
    </div>

    <div class="order-photo">
      <div class="photo"></div>
      <div class="add-photo">+</div>
    </div>

    <div class="section-address">
      <div class="address">
<!--        <p>City</p>-->
        <ng-select [items]="citiesList"
                   [selectOnTab]="true"
                   bindLabel="englishName"
                   placeholder="Select city"
                   formControlName="City">
        </ng-select>
      </div>
      <div class="address">
        <p>Address (not necessary)</p>
        <input type="text" placeholder="Your address">
      </div>
    </div>
    <div class="date-complete">
      <div class="date">
        <p>Order execution date</p>
        <input type="text" placeholder="Deadline when an order must be completed">
      </div>
      <div class="price-checkbox">
        <div class="price">
          <p>Price</p>
          <input type="text" placeholder="Price">
        </div>
        <div class="checkbox">
          <mat-checkbox></mat-checkbox>
          <p>Agreed</p>
        </div>
      </div>
    </div>
    <div class="section-name">
      <div class="name">
        <p>Name</p>
        <input type="text" placeholder="Your name">
      </div>
      <div class="phone-checkbox">
        <div class="phone">
          <p>Phone</p>
          <input type="text" placeholder="+972 XX XXX-XX-XX">
        </div>
        <div class="visible">Visible only to the selected contractor</div>
      </div>
    </div>

    <div class="verification">
      <div class="check">Before you complete, please check</div>
      <p class="send-code">This action needs to be done only once, it will take only a few moments and will be
        absolutely free.
        Enter your phone number in international format and click "Send code". The number you specify will be sent
        special code required for validation.</p>
    </div>
    <div class="place-order">
      <div class="phone-valid">
        <p>Phone for validation</p>
        <input type="text" placeholder="Your name">
      </div>
      <button class="button-send">Send code</button>
      <button class="button-order">Place an order</button>
    </div>
  </form>
</div>
