<div class="header-profile-container" (click)="profileToggle()">
  <div class="profile-preview">
    <img class="avatar" src="../../../../assets/data/images/default-avatar.svg" alt="avatar">
    <span class="user-email">User@gmail.com</span>
    <span class="material-icons">expand_more</span>
  </div>

  <div id="dropdown" class="dropdown">
    <span id="arr" class="arrow"></span>
    <div class="dropdown-content">
      <div>Name Surname</div>
      <div>User@gmail.com</div>
      <div>
        <p>
          <span class="material-icons">receipt_long</span>
          Orders
        </p>
        <p>
          <span class="material-icons">mail</span>
          Messages
        </p>
        <p>
          <span class="material-icons">bookmarks</span>
          Bookmarks
        </p>
        <p>
          <span class="material-icons">settings</span>
          Account settings
        </p>
      </div>
      <div>
        <span class="material-icons">exit_to_app</span>
        Sign Out
      </div>
    </div>
  </div>
</div>
