@import "./src/app/styles/config";

.header-profile-container {
  justify-content: flex-start;
  height: 100%;
  position: relative;
  &:hover {
    span {
      transition: all .3s;
      color: $sixth-color;
    }
  }
  span {
    cursor: pointer;
    transition: all .3s;
  }
}

.profile-preview {
  @include base-flex;
  margin-right: 26px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.user-email {
  @include medium-text;
  font-size: 14px;
}



// Testing

.dropdown {
  position: absolute;
  top: 88%;
  right: 0;
  width: 300px;
  margin-top: 10px;
  background: #fff;
  border: 1px solid $third-color;
  border-radius: 4px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0 0 25px -10px rgba(0,0,0,0.3);
}

.dropdown-content {
  @include regular-text;
  padding: 14px 22px;
  div {
    &:nth-child(1) {
      @include bold-text;
      width: 100%;
      margin-bottom: 4px;
    }
    &:nth-child(2) {
      @include light-text;
      font-size: 12px;
      width: 100%;
    }
    &:nth-child(3) {
      border-top: 1px solid $third-color;
      border-bottom: 1px solid $third-color;
      margin: 8px 0;
      p {
        @include base-flex;
        cursor: pointer;
        margin: 6px 0;
        width: 100%;
        transition: all .3s;
        &:hover {
          transition: all .3s;
          color: $fifth-color;
        }
        span {
          font-size: 17px;
          margin-right: 5px;
          color: $fifth-color;
        }
      }
    }
    &:nth-child(4) {
      @include base-flex;
      cursor: pointer;
      transition: all .3s;
      span {
        font-size: 17px;
        margin-right: 5px;
        color: $fifth-color;
      }
      &:hover {
        transition: all .3s;
        color: $sixth-color;
      }
    }
  }
}

.down {
  max-height: 350px;
}

.arrow {
  right: 28px;
  top: -10px;
  background-color: #fff;
  border-top-left-radius: 4px;
  width: 18px;
  height: 18px;
  border-top: 1px solid $third-color;
  border-left: 1px solid $third-color;
  border-bottom-color: transparent;
  transform: rotateZ(45deg);
  position: absolute;
}

.arrow.gone {
  display: block;
}
