@import "src/app/styles/config";

.orders-navigation-container {
  width: 100%;
  height: 53px;
  @include base-flex;
  justify-content: space-between;
  border-bottom: 4px solid $fifth-color;
  .order-left{
    width: 70%;
    ul {
      @include base-flex;
      justify-content: space-between;
      height: 100%;
      li {
        @include regular-text;
        font-size: 18px;
        color: #191815;
        padding: 15px 70px;
        border-radius: 10px 10px 0 0;
        cursor: pointer;
        transition: all 0.2s;
        &.active {
          background-color: $fifth-color;
          color: #fff;
        }
      }
    }
  }
  .order-right {
    width: 30%;
    text-align: right;
    p {
      @include bold-text;
      font-size: 18px;
      color: $sixth-color;
      cursor: pointer;
    }
  }
}
