<div class="header-profile-container">
  <div class="profile-preview">
    <div class="top">
      <img class="avatar" src="../../../../assets/data/images/default-avatar.svg" alt="avatar">
      <div class="user-name-email">
        <div>Name Surname</div>
        <div>User@gmail.com</div>
      </div>
    </div>
    <div class="search-container">
      <label>
        <input class="search-input"
               type="text"
               placeholder="Site search">
      </label>
      <button class="search-btn">
    <span class="material-icons icon">
      search
    </span>
      </button>
    </div>
  </div>
  <div id="dropdown" class="dropdown">
    <div class="dropdown-content">
      <div>
        <p>
          <span class="material-icons">receipt_long</span>
          Orders
        </p>
        <p>
          <span class="material-icons">mail</span>
          Messages
        </p>
        <p>
          <span class="material-icons">bookmarks</span>
          Bookmarks
        </p>
        <p>
          <span class="material-icons">settings</span>
          Account settings
        </p>
      </div>
      <div>
        <span class="material-icons">exit_to_app</span>
        Sign Out
      </div>
    </div>
  </div>
  <nav>
    <ul class="navigation-mobile">
      <li class="dropdown-title">
        <a (click)="mobileMenuToggle()">Services</a>
        <ul id="dropdown-news-list" class="dropdown-news-list">
          <li class="dropdown-news-item">
            <a>
              Internet
            </a>
          </li>
          <li class="dropdown-news-item">
            <a>
              Sport
            </a>
          </li>
          <li class="dropdown-news-item">
            <a>
              Home
            </a>
          </li>
          <li class="dropdown-news-item">
            <a>
              Beauty
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown-title">
        <a>Marketplace</a>
        <ul class="dropdown-news-list">
          <li class="dropdown-news-item">
            <a>
              Internet
            </a>
          </li>
          <li class="dropdown-news-item">
            <a>
              Sport
            </a>
          </li>
          <li class="dropdown-news-item">
            <a>
              Home
            </a>
          </li>
          <li class="dropdown-news-item">
            <a>
              Beauty
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown-title">
        <a>Auction</a>
        <ul class="dropdown-news-list">
          <li class="dropdown-news-item">
            <a>
              Internet
            </a>
          </li>
          <li class="dropdown-news-item">
            <a>
              Sport
            </a>
          </li>
          <li class="dropdown-news-item">
            <a>
              Home
            </a>
          </li>
          <li class="dropdown-news-item">
            <a>
              Beauty
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

