<div class="log-in">
  <div class="log-in-container">
    <div class="log-in-name">
      <p class="enter">Sign in</p>
      <div class="social-media-text">
        <p>Log in with</p>
        <div class="log-in-social-media">
          <a>
            <img class=footer-icon src="../../../../assets/data/images/icons/facebook-registration.svg" alt="facebook">
          </a>
          <a>
            <img class=footer-icon src="../../../../assets/data/images/icons/vk.svg" alt="vk">
          </a>
          <a>
            <img class=footer-icon src="../../../../assets/data/images/icons/google-plus.svg" alt="gmail">
          </a>
        </div>
      </div>
      <div class="log-in-main-container">
        <p>Or with name and email</p>
        <div class="log-in-input-container">
          <input type="email" placeholder="E-mail"/>
          <div class="log-in-main-input">
            <img src="../../../../assets/data/images/icons/man-user.svg" alt="">
          </div>
        </div>
        <div class="log-in-input-container">
          <input type="password" placeholder="Password"/>
          <div class="log-in-main-input">
            <img src="../../../../assets/data/images/icons/lock.svg" alt="">
          </div>
        </div>
        <button>Sign in</button>
      </div>
      <div class="log-in-link">
        <a>Register on nopanic</a>
      </div>
      <div class="log-in-forget-password">
        <a>I don't remember the password</a>
      </div>
    </div>
  </div>
</div>
