<div id="dropdown-menu" class="dropdown">
  <div class="dropdown-inner">
    <div class="main-navigation">
      <img class="icon" src="../../../../assets/data/images/icons/6.%20%20Курьерские%20услуги.png" alt="bag">
      <div class="dropdown-common">
        <div class="dropdown-title">Internet</div>
        <ul class="dropdown-news-list">
          <li class="dropdown-news-item" [routerLink]="['/place-order']">Lorem ipsum dolor sit amet.</li>
          <li class="dropdown-news-item" [routerLink]="['/order-content']">Lorem ipsum dolor.</li>
          <li class="dropdown-news-item">Lorem ipsum.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </div>
    </div>
    <div class="main-navigation">
      <img class="icon" src="../../../../assets/data/images/icons/7.%20%20Ремонт%20техники%20и%20инструмента.png" alt="bag">
      <div class="dropdown-common">
        <div class="dropdown-title">Sport</div>
        <ul class="dropdown-news-list">
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor.</li>
          <li class="dropdown-news-item">Lorem ipsum.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </div>
    </div>
    <div class="main-navigation">
      <img class="icon" src="../../../../assets/data/images/icons/7.%20%20Ремонт%20техники%20и%20инструмента.png" alt="bag">
      <div class="dropdown-common">
        <div class="dropdown-title">House</div>
        <ul class="dropdown-news-list">
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor.</li>
          <li class="dropdown-news-item">Lorem ipsum.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="dropdown-inner">
    <div class="main-navigation">
              <span class="material-icons icon">
              location_on
                </span>
      <div class="dropdown-common">
        <div class="dropdown-title">Internet</div>
        <ul class="dropdown-news-list">
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor.</li>
          <li class="dropdown-news-item">Lorem ipsum.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </div>
    </div>
    <div class="main-navigation">
              <span class="material-icons icon">
              location_on
                </span>
      <div class="dropdown-common">
        <div class="dropdown-title">Sport</div>
        <ul class="dropdown-news-list">
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor.</li>
          <li class="dropdown-news-item">Lorem ipsum.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </div>
    </div>
    <div class="main-navigation">
               <span class="material-icons icon">
              location_on
                </span>
      <div class="dropdown-common">
        <div class="dropdown-title">House</div>
        <ul class="dropdown-news-list">
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor.</li>
          <li class="dropdown-news-item">Lorem ipsum.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="dropdown-inner">
    <div class="main-navigation">
                 <span class="material-icons icon">
              location_on
                </span>
      <div class="dropdown-common">
        <div class="dropdown-title">Internet</div>
        <ul class="dropdown-news-list">
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor.</li>
          <li class="dropdown-news-item">Lorem ipsum.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </div>
    </div>
    <div class="main-navigation">
                <span class="material-icons icon">
              location_on
                </span>
      <div class="dropdown-common">
        <div class="dropdown-title">Sport</div>
        <ul class="dropdown-news-list">
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor.</li>
          <li class="dropdown-news-item">Lorem ipsum.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </div>
    </div>
    <div class="main-navigation">
                <span class="material-icons icon">
              location_on
                </span>
      <div class="dropdown-common">
        <div class="dropdown-title">House</div>
        <ul class="dropdown-news-list">
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor.</li>
          <li class="dropdown-news-item">Lorem ipsum.</li>
          <li class="dropdown-news-item">Lorem ipsum dolor sit amet, consectetur.</li>
        </ul>
      </div>
    </div>
  </div>

</div>
