<div id="dropdown-menu" class="dropdown">
  <div class="dropdown-inner">
    <div class="main-navigation" *ngFor="let section of this.sectionList">
     <img class="menu-icon" [src]="section['icon']" alt="">
      <div class="dropdown-common">
        <div class="dropdown-title">{{section['title']}}</div>
        <ul class="dropdown-news-list">
          <li class="dropdown-news-item" [routerLink]="['/place-order']" *ngFor="let item of section.data">{{item['subtitle']}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
