<div class="registration">
  <div class="registration-container">
     <span class="material-icons close">
      <a [routerLink]="['/services']">close</a>
    </span>
    <div class="registration-name">
      <p class="enter">Registration</p>
      <div class="social-media-text">
        <p>With social media</p>
        <div class="social-media">
          <a>
            <img class=footer-icon src="../../../../assets/data/images/icons/Google_Logo.svg" alt="gmail">
          </a>
          <a>
            <img class=footer-icon src="../../../../assets/data/images/icons/facebook-registration.svg" alt="facebook">
          </a>
          <a>
            <img class=footer-icon src="../../../../assets/data/images/icons/amazon-icon.svg" alt="vk">
          </a>
        </div>
      </div>
      <div class="registration-main-container">
        <p>Or with nickname or email</p>
        <div class="input-container">
          <input type="email" placeholder="E-mail"/>
          <div class="registration-main-input">
            <img src="../../../../assets/data/images/icons/man-user.svg" alt="">
          </div>
        </div>
        <div class="input-container">
          <input type="password" placeholder="Password"/>
          <div class="registration-main-input">
            <img src="../../../../assets/data/images/icons/lock.svg" alt="">
          </div>
        </div>
        <div class="input-container">
          <input type="password" placeholder="Repeat password"/>
          <div class="registration-main-input">
            <img src="../../../../assets/data/images/icons/lock.svg" alt="">
          </div>
        </div>
        <button>Registration</button>
      </div>
      <div class="registration-link">
        <p>Have a profile on nopanic?</p>
        <a [routerLink]="['/login']">Sign in</a>
      </div>
      <div class="registration-rules">
        <a>By registering, you agree with the rules</a>
      </div>
    </div>
  </div>
</div>
