<div class="registration">
  <div class="registration-container">
     <span class="material-icons close">
      <a [routerLink]="['/services']">close</a>
    </span>
    <div class="registration-name">
      <p class="enter">Registration</p>
      <div class="social-media-text">
        <p>With social media</p>
        <div class="social-media">
          <a>
            <img class=footer-icon src="../../../../assets/data/images/icons/Google_Logo.svg" alt="gmail">
          </a>
          <a>
            <img class=footer-icon src="../../../../assets/data/images/icons/facebook-registration.svg" alt="facebook">
          </a>
          <a>
            <img class=footer-icon src="../../../../assets/data/images/icons/amazon-icon.svg" alt="vk">
          </a>
        </div>
      </div>
      <div class="registration-main-container">
        <p>Or with username or email</p>
        <form [formGroup]="regForm" (ngSubmit)="submit()" autocomplete="on">
          <div class="input-container">
            <input type="text" placeholder="Username" formControlName="UserName" autocomplete="username"/>
            <div class="registration-main-input">
              <span class="material-icons">person</span>
              <ngx-spinner
                [fullScreen]="false"
                name="UserName"
                bdColor="none"
                size="10px"
                color="#0dc5d57d"
                type="ball-clip-rotate">
              </ngx-spinner>
            </div>
            <span class="error-message" *ngIf="checkControlsValidity('UserName')">
               {{ getErrorMessage('UserName') }}
            </span>
            <span class="error-message" *ngIf="!userAvailability.includes('UserName') && !isChecking">
               Username <strong>{{regForm.get('UserName').value}}</strong> is taken by another user
            </span>
          </div>
          <div class="input-container">
            <input type="email" placeholder="E-mail" formControlName="Email" autocomplete="email"/>
            <div class="registration-main-input">
              <span class="material-icons">email</span>
              <ngx-spinner
                [fullScreen]="false"
                name="Email"
                bdColor="none"
                size="10px"
                color="#0dc5d57d"
                type="ball-clip-rotate">
              </ngx-spinner>
            </div>
            <span class="error-message" *ngIf="checkControlsValidity('Email')">
               {{ getErrorMessage('Email') }}
            </span>
            <span class="error-message" *ngIf="!userAvailability.includes('Email') && !isChecking">
               User with this email is already registered
            </span>
          </div>
          <div class="input-container">
            <input type="password" placeholder="Password" formControlName="Password" autocomplete="new-password"/>
            <div class="registration-main-input">
              <span class="material-icons">lock</span>
            </div>
            <span class="error-message" *ngIf="checkControlsValidity('Password')">
               {{ getErrorMessage('Password') }}
            </span>
          </div>
          <div class="input-container">
            <input type="password" placeholder="Repeat password" formControlName="ConfirmPassword" autocomplete="new-password"/>
            <div class="registration-main-input">
              <span class="material-icons">lock</span>
            </div>
            <span class="error-message" *ngIf="checkControlsValidity('ConfirmPassword')">
              {{ getErrorMessage('ConfirmPassword') }}
            </span>
          </div>
          <button [ngClass]="!checkFormValidity() ? 'disabled' : null">
            Registration
          </button>
        </form>
      </div>
      <div class="registration-link">
        <p>Have a profile on nopanic?</p>
        <a [routerLink]="['/login']">Sign in</a>
      </div>
      <div class="registration-rules">
        <a>By registering, you agree with the rules</a>
      </div>
    </div>
  </div>
  <ngx-spinner
    [fullScreen]="true"
    name="Submit"
    bdColor="rgba(0, 0, 0, 0.5)"
    size="large"
    color="#0DC5D5"
    type="ball-grid-pulse">
    <p class="spinner-text">Registration in progress...</p>
  </ngx-spinner>
</div>
