@import "src/app/styles/config";

.order-content {
  @include base-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-top: 30px;
  -webkit-box-shadow: 0 6px 26px -5px rgba(0,0,0,0.14);
  -moz-box-shadow: 0 6px 26px -5px rgba(0,0,0,0.14);
  box-shadow: 0 6px 26px -5px rgba(0,0,0,0.14);
  .data-content {
    height: 100%;
    background: #F0F1F7;
    width: 100%;
    border-radius: 0 10px 10px 0;
    position: relative;
    .data-content-inner {
      padding: 0 40px 0 240px;
      a {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        &:hover {
          .gallery-indicator {
            @include medium-text;
            font-size: 22px;
            display: block;
          }
        }
        span{
          width: 215px;
          height: 200px;
          background-image: url("../../../../assets/data/images/auth-background.jpg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          display: inline-block;
        }
        .gallery-indicator {
          display: none;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          background-color: rgba(46, 128, 210, 0.8);
          border-radius: 50%;
          text-align: center;
          line-height: 50px;
          color: #fff;
        }
      }
      .title {
        display: flex;
        justify-content: space-between;
        margin: 23px 0 10px 0;
        p {
          @include bold-text;
          font-size: 24px;
          color: #191815;
          margin:0;
        }
      }
      .location {
        display: flex;
        justify-content: space-between;
        margin: 14px 0;
        .city {
          display: flex;
          justify-content: space-between;
          width: 36%;
          p {
            @include medium-text;
            @include base-flex;
            font-size: 14px;
            color: #191815;
          }
        }
        .status {
          p {
            @include medium-text;
            font-size: 16px;
            color: #191815;
          }
        }
      }
      .description {
        max-width: 500px;
        p {
          @include regular-text;
          font-size: 14px;
          color: #191815;
        }
      }
      .more {
        display: flex;
        justify-content: space-between;
        margin: 17px 0 0 0;
        button {
          &:nth-child(1) {
            @include basic-btn;
            @include bold-text;
            font-size: 14px;
            padding: 8px 64px;
          }
          &:nth-child(2) {
            @include base-flex;
            @include medium-text;
            font-size: 14px;
            border-radius: 4px;
            background: none;
            border: 1px solid $sixth-color;
            text-transform: uppercase;
            padding: 5px 20px;
            span{
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .label-vip {
    position: absolute;
    right: -20px;
    top: -10%;
  }
}

.icon {
  margin-right: 6px;
  color: $sixth-color;
  font-size: 18px;
}
