<div class="drop-down-container">
  <div *ngFor="let list of data; let listIndex = index">
    <div class="item-list" (click)="dropDownToggle(listIndex)">
        {{list.label}}
      <span id="{{this.arrowId + listIndex}}" class="material-icons">keyboard_arrow_down</span>
    </div>
    <ul id="{{this.partId + listIndex}}" class="close">
      <li *ngFor="let element of list.items; let elementIndex = index">
        <mat-checkbox [(ngModel)]="element.value" (ngModelChange)="this.changedValue.emit(this.data)">
        </mat-checkbox>
        <a (click)="valueChanged(listIndex, elementIndex)">{{element["value"]}}</a>
      </li>
    </ul>
  </div>
</div>
