<div class="drop-down-container">
  <div *ngFor="let list of data; let listIndex = index">
    <div (click)="dropDownToggle(list.title)">
      {{list.title}}
      <span id="{{'arrow_' + list.title}}" class="material-icons">keyboard_arrow_down</span>
    </div>
    <ul id="{{'elements_' + list.title}}">
      <li *ngFor="let element of list.data; let elementIndex = index">
        <mat-checkbox [(ngModel)]="element.value" (ngModelChange)="this.changedValue.emit(this.data)">
        </mat-checkbox>
        <a (click)="valueChanged(listIndex, elementIndex)">{{element["subtitle"]}}</a>
      </li>
    </ul>
  </div>
</div>
