@import "src/app/styles/config";

/* --------------- Mobile menu ---------------- */
.mobile-menu-cont {
  padding: 10px 20px;
  position: absolute;
  z-index: 101;
  left: 0;
  right: 0;
  top: 60px;
  background-color: #16497E;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  transform: scaleY(0);
  .mobile-menu {
    display: inline-block;
    margin: auto;
    padding-top: 5px;
    width: 100%;
    > li {
      position: relative;
      padding: 10px 0;
      text-align: center;
      width: 100%;
      a {
        transition: 0.5s;
        @include regular-text;
        font-size: 20px;
        padding: 3px 10px;
        color: #fff;
        white-space: nowrap;
        text-transform: uppercase;
        &:hover {
          color: #1c1c1c;
        }
      }
    }
    li.current-menu-item, li.current_page_item {
      >a {
        color: #090B24;
        @include regular-text;
      }
    }
    .open-arrow {
      width: 25px;
      height: 25px;
      background: #ededed;
      border-radius: 5px;
      display: inline-block;
      color: #ca6c6c;
      cursor: pointer;

      font-size: 14px;
      margin-right: 25px;
      position: absolute;
      top: 10px;
      left: 0px;
      i {
        position: absolute;
        top: 1px;
        left: 5px;

        font-size: 24px;
        transition: 0.5s;
      }
    }
    .rotate {
      i {
        transform: rotate(180deg);
        color: #cf0006;
      }

    }
  }
  .auth-mobile{
    @include semi-bold-text;
    font-size: 16px;
    color: #fff;
    span {
      cursor: pointer;
      outline: none;
      text-decoration: underline;
    }
  }
  &.open{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  .header-profile-container {
    justify-content: flex-start;
    height: 100%;
    position: relative;
    span {
      cursor: pointer;
      transition: all .3s;
    }
    .profile-preview {
      @include base-flex;
      flex-direction: column;
      align-items: flex-start;
      .top{
        @include base-flex;
        .avatar {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          margin-right: 30px;
        }
        .user-name-email{
          color: #fff;
        }
      }
      .search-container {
        position: relative;
        height: 100%;
        margin: 10px 0 10px 0;
        .search-input {
          @include light-text;
          font-size: 14px;
          border: 1px solid $third-color;
          border-radius: 30px;
          padding: 8px 34px 8px 20px;
        }
        .search-btn {
          height: 100%;
          width: 34px;
          position: absolute;
          right: 0;
          border: none;
          background: $fifth-color;
          border-radius: 0 20.5px 20.5px 20.5px;
          .icon {
            color: white;
            font-size: 16px;
          }
        }
      }
    }
    .dropdown {
      .dropdown-content {
        @include regular-text;
        div {
          &:nth-child(1) {
            margin: 8px 0;
            p {
              @include base-flex;
              cursor: pointer;
              margin: 6px 0;
              width: 100%;
              color: #fff;
              span {
                font-size: 17px;
                margin-right: 5px;
                color: #fff;
              }
            }
          }
          &:nth-child(2) {
            @include base-flex;
            cursor: pointer;
            color: #fff;
            border-bottom: 1px solid #6296C0;
            padding-bottom: 5px;
            span {
              font-size: 17px;
              margin-right: 5px;
              color: #fff;
            }
          }
        }
      }
    }
    nav{
      .navigation-mobile{
        .dropdown-title{
          @include regular-text;
          a{
            color: #fff;
          }
          .dropdown-news-list{
            border: 1px solid red;
            padding-bottom: 10px;
            max-height: 0;
            opacity: 0;
            transition:all .5s;
            max-width: 300px;
            &.open{
              max-height: 500px;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
/* --------------- /Mobile menu ---------------- */
/* --------------- Toggle button ---------------- */
.toggle-button {
  width: 29px;
  height: 29px;
  position: relative;
  background: #fff;
  z-index: 103;
  cursor: pointer;
  vertical-align: top;
  display: none;
  transition: 0.5s;
  @media only screen and (max-width : 1004px) {
    display: inline-block;
  }
  div {
    width:22px;
    height: 3px;
    background-color: #090B24;
    position: absolute;
    border-radius: 2px;
    transition: top 0.5s, transform 1s, opacity 0.5s, width 0.5s;
  }
  div:nth-child(1) {
    top: 5px;
    left: 4px;
  }
  div:nth-child(2) {
    top: 13px;
    left: 4px
  }
  div:nth-child(3) {
    top: 21px;
    left: 4px
  }
  &.open {
    div:nth-child(1) {
      top: 13px;
      transform: rotate(45deg);
    }
    div:nth-child(2) {
      opacity: 0;
      width: 1px;
    }
    div:nth-child(3) {
      top: 13px;
      transform: rotate(-45deg);
    }
  }
}


