<div class="log-in">
  <div class="log-in-container">
    <span class="material-icons close">
     <a [routerLink]="['/services']">close</a>
    </span>
    <div class="log-in-name">
      <p class="enter">Sign in</p>
      <div class="social-media-text">
        <p>Log in with</p>
        <div class="log-in-social-media">
          <a>
            <img class=footer-icon src="../../../../assets/data/images/icons/Google_Logo.svg" alt="gmail">
          </a>
          <a>
            <img class=footer-icon src="../../../../assets/data/images/icons/facebook-registration.svg" alt="facebook">
          </a>
          <a>
            <img class=footer-icon src="../../../../assets/data/images/icons/amazon-icon.svg" alt="vk">
          </a>
        </div>
      </div>
      <div class="log-in-main-container">
        <p>Or with name and email</p>
        <form [formGroup]="logForm" (ngSubmit)="submit()">
          <div class="log-in-input-container">
            <input type="email" placeholder="E-mail or Username" formControlName="Email" autocomplete="username"/>
            <div class="log-in-main-input">
              <span class="material-icons">email</span>
            </div>
          </div>
          <div class="log-in-input-container">
            <input type="password" placeholder="Password" formControlName="Password" autocomplete="current-password"/>
            <div class="log-in-main-input">
              <span class="material-icons">lock</span>
            </div>
          </div>
          <button [ngClass]="!logForm.valid ? 'disabled' : null">
            Sign in
          </button>
          <span class="auth-failed" *ngIf="errorMsg">
               {{this.errorMsg}}
          </span>
        </form>
      </div>
      <div class="log-in-link">
        <a [routerLink]="['/registration']">Register on nopanic</a>
      </div>
      <div class="log-in-forget-password">
        <a [routerLink]="['/password-recovery']">I don't remember the password</a>
      </div>
    </div>
  </div>

  <ngx-spinner
    [fullScreen]="true"
    name="Submit"
    bdColor="rgba(0, 0, 0, 0.5)"
    size="large"
    color="#0DC5D5"
    type="ball-grid-pulse">
    <p class="spinner-text">Authorization is in progress...</p>
  </ngx-spinner>
</div>
