@import "../../../styles/config";

.log-in {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 104;
  background-image: linear-gradient(150deg, rgba(195,216,228,.6) 0%, rgba(74,161,197,0.6) 22%, rgba(25,31,96,.6) 66%),url("../../../../assets/data/images/auth-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .log-in-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(84,110,143,.6);
    width: 100%;
    max-width: 570px;
    padding: 1% 35px;
    .close {
      color: white;
      position: absolute;
      right: 21px;
      top: 21px;
      border-radius: 50%;
      -webkit-transition: -webkit-transform .8s ease-in-out;
      transition:         transform .8s ease-in-out;
      a {
        color: white;
      }
      &:hover{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        cursor: pointer;
      }
    }
    .log-in-name {
      text-align: center;
      p {
        color: white;
      }
      .enter {
        @include bold-text;
        font-size: 36px;
      }
      .social-media-text {
        padding-bottom: 25px;
        border-top: 1px solid $seventh-color;
        border-bottom: 1px solid $seventh-color;
        text-align: center;
        margin: 30px 0;
        p {
          @include regular-text;
          font-size: 18px;
          padding: 30px 0;
        }
        .log-in-social-media {
          display: flex;
          justify-content: center;
          a {
            width: 30%;
            background-color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            transition: all .3s;
            &:hover {
              -webkit-box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.25);
              -moz-box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.25);
              box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.25);
              img {
                transform: scale(1.1);
              }
            }
            img {
              width: 47px;
              height: 70px;
              transition: all .3s;
            }
            &:nth-child(2) {
              background-color: #4267B2;
            }
            &:nth-child(3) {
              background-color: #ffffff;
            }
            &:nth-child(odd) {
              margin: 0 20px;
            }
          }
        }
      }
      .log-in-main-container {
        display: flex;
        flex-direction: column;
        p {
          @include regular-text;
          padding-bottom: 30px;
        }
        input {
          @include regular-text;
          width: 80%;
          border: none;
          background-color: $seventh-color;
          color: #fff;
          &:-webkit-autofill{
            -webkit-box-shadow: 0 0 0 1000px $seventh-color inset !important;
            -webkit-text-fill-color: #fff;
          }
        }
        input::-moz-placeholder {
          @include regular-text;
          color: #ffffff;
        }
        input::-webkit-input-placeholder {
          @include regular-text;
          color: #ffffff;
        }
        form {
          button {
            @include basic-btn;
            font-size: 18px;
            height: 60px;
            width: 100%;
            margin-bottom: 6px;
          }
          span {
            &.auth-failed {
              @include medium-text;
              font-size: 16px;
              margin-top: 3px;
              color: #0DC5D5;
              background: rgb(255,0,0);
              background: linear-gradient(90deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0.6488970588235294) 25%,
                rgba(255,0,0,0.7497373949579832) 50%, rgba(255,0,0,0.65) 75%, rgba(255,0,0,0) 100%);
              padding: 0 40px;
            }
          }
        }
        .log-in-input-container {
          display: flex;
          align-items: center;
          position:relative;
          padding:0 0 0 33px;
          margin:0 0 30px 0;
          border-radius: 50px;
          height: 60px;
          border: none;
          background-color: $seventh-color;
          @include regular-text;
          color: #ffffff;
          span {
            &.error-message {
              @include medium-text;
              position: absolute;
              top: 100%;
              text-align: start;
              font-size: 14px;
              margin-top: 3px;
              color: #0DC5D5;
            }
          }
          .log-in-main-input {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 10px;
            width: 100%;
            max-width: 13%;
            height: 40px;
            border-left: 1px solid #1F5587;
            span {
              color: $fifth-color;
            }
          }
        }
      }
      .log-in-link {
        @include regular-text;
        font-size: 16px;
        margin-top: 25px;
        a {
          color: #0DC5D5;
          cursor: pointer;
          text-decoration: none;
          background-image: linear-gradient(currentColor, currentColor);
          background-position: 50% 100%;
          background-repeat: no-repeat;
          background-size: 0% 1px;
          transition: background-size .3s;
          padding-bottom: 4px;
          &:hover{
            background-size: 100% 2px;
          }
        }
      }

      .log-in-forget-password{
        @include regular-text;
        font-size: 16px;
        margin-top: 25px;
        a {
          cursor: pointer;
          color: #0DC5D5;
          background-image: linear-gradient(currentColor, currentColor);
          background-position: 50% 100%;
          background-repeat: no-repeat;
          background-size: 0% 1px;
          transition: background-size .3s;
          padding-bottom: 4px;
          &:hover{
            background-size: 100% 2px;
          }
        }
      }
    }
  }
  .spinner-text {
    @include regular-text;
    color: #fff;
  }
}




















